body {
    margin: 0;
    font-family: Helvetica;
}

/* nav bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    border-bottom: solid black 3px;
}
nav ul {
    display: flex;
}
nav li {
    list-style-type: none;
    margin: 0 20px;
}
a {
    text-decoration: none;
    color: black;
}
/* a:active {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
} */

/* main content */
main {
    background: url("../images/hero-image.jpg") fixed no-repeat;
    height: 500px;
    text-align: center;
}