body {
    margin: 0;
    font-family: Helvetica;
}

p {
    font-size: 15pt;
}

/* flex stuff */
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.fill-height {
    height: 100%;
}

/* nav bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    border-bottom: solid white 3px;
}
nav ul {
    display: flex;
}
nav li {
    list-style-type: none;
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: white;
}

/* main content */
main {
    text-align: center;
}

.section-1 {
    background: url("../images/hero-image.jpg") no-repeat center;
    background-size: cover;
    height: 75vh;
}
.first-text {
    background-color: white;
    margin: 10px 20px;
    padding: 5px;
}
.first-text h1 {
    margin: 0;
}

.section-2 {
    height: 75vh;
    padding: 3% 10%;
}
.second-text {
    text-align: left;
}
.second-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-images img {
    object-fit: cover;
    margin: 2% 0;
    height: 30vh;
    width: 30%;
}