body {
    margin: 0;
    font-family: Helvetica;
}

p {
    font-size: 15pt;
    line-height: 1.5;
}

/* flex stuff */
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.fill-height {
    height: 100%;
}

/* nav bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    border-bottom: solid white 3px;
}
nav ul {
    display: flex;
}
nav li {
    list-style-type: none;
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: white;
}

/* main content */
main {
    text-align: center;
}

.section-1 {
    background: url("../images/hero-image.jpg") no-repeat center;
    background-size: cover;
    height: 75vh;
}
.first-text {
    background-color: white;
    margin: 10px 20px;
    padding: 5px;
}
.first-text h1 {
    margin: 0;
}

.section-2 {
    height: 75vh;
    padding: 3% 10%;
}
.second-text {
    text-align: left;
}
.second-images {
    display: flex;
    height: 30vw;
}
.breakfast-image {
    background-image: url("../images/breakfast-ideas.jpg");
}
.vegitarian-image {
    background-image: url("../images/vegetarian-ideas.jpg");
}
.dinner-image {
    background-image: url("../images/cold-weather-dinners.jpeg");
}
.captioned-image {
    margin:  75px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.captioned-image .image {
    flex: auto;
    background-position: center;
    background-size: cover;
}
.captioned-image .image-caption {
    font-size: 12pt;
    padding: 10px;
    background-color: white;
}

.section-3 {
    height: 60vh;
    padding: 3% 10%;
    background-color: lightgray;
}
.third-text {
    text-align: left;
}
.third-images {
    display: flex;
    height: 25vw;
}
.peppers-image {
    background-image: url("../images/fajita-peppers.jpeg");
}
.muffins-image {
    background-image: url("../images/muffins.jpeg");
}
.parmesan-image {
    background-image: url("../images/eggplant-parmesan.jpg");
}
.chicken-image {
    background-image: url("../images/teriyaki-chicken.jpeg");
}


.section-4 {
    height: 100vh;
    padding: 3% 10%;
}
.fourth-text {
    text-align: left;
}
.fourth-images {
    display: flex;
    height: 30vw;
}
.sandwiches-image {
    background-image: url("../images/burger.jpg");
}
.pizza-image {
    background-image: url("../images/pizza.jpeg");
}
.guides-image {
    background-image: url("../images/download.jpeg");
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    height: 100px;
}
footer ul {
    display: flex;
}
footer li {
    list-style-type: none;
    margin: 0 10px;
    font-size: 10pt;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: white;
}



/* recipes page */
.normal-weight {
    font-weight: normal;
}


.section-1r {
    background: url("../images/bengal-burger.jpg") no-repeat center;
    background-size: cover;
    height: 75vh;
}


.section-2r {
    height: 20vh;
    padding: 3% 10%;
    background-color: lightgray;
}
.second-text-r {
    text-align: left;
}
.second-text-r h1 {
    margin-top: 0;
}
.level-prep-yeild {
    display: flex;
}
.level-prep-yeild h3 {
    margin: 0 200px 20px 0;
}
.total-cook {
    display: flex;
}
.total-cook h3{
    margin: 0 190px 0 0;
}


.section-3r {
    height: 60vh;
    padding: 3% 10%;
}
.third-text-r h1 {
    text-align: center;
    font-size: 30pt;
}
.third-text-r p {
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px 100px;
    margin: 90px auto 0;
    width: 700px;
}
.reviews {
    margin-bottom: 40px;
}
.recipe-print {
    display: flex;
    align-items: center;
    justify-content: center;
}
.save-recipe {
    font-weight: bold;
    color: white;
    background-color: rgb(150, 0, 0);
    padding: 10px 20px;
    width: fit-content;
    border-radius: 19px;
}
.save-recipe a {
    text-decoration: none;
    color: inherit;
}
.print {
    border: black solid 2px;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    margin-left: 15px;
}
.print img {
    height: 38px;
    width: 38px;
}


.section-4r {
    height: 130vh;
    padding: 3%10%;
    margin-top: 0;
}
.fourth-text-r {
    text-align: left;
    display: flex;
    justify-content: space-around;
}
.ingredients {
    width: 450px;
}
.ingredients li {
    padding: 2px;
}
.directions {
    width: 550px;
}
.directions li {
    padding: 2px;
    padding-bottom: 30px;
}
lh {
    font-weight: bold;
    font-size: 17px;
}